p {
    caret-color: transparent;
    flex: 1;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    min-height: 1em;
    opacity: 10%;
    text-align: center;
}