#pretext {
    color: #F48FB1;
    font-family: "Satisfy", cursive;
    font-size: 1em;
    text-align: center;
}

#text {
    color: #E91E63;
    font-family: "Satisfy", cursive;
    font-size: 4em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 0 1em;
}
